//Constantes
//Paleta de Colores
$color1: #e3b23c;
$color2: #dfa00f;
$color3: #EB1212;
$color4: red;
$color5: beige;
$color6: black;
$color7: #333;


@import url('https://fonts.googleapis.com/css2?family=Andika+New+Basic&family=Arima+Madurai:wght@100&family=Arsenal&family=Domine:wght@500&');
//Fonts
$font1: 'Domine',
serif;
$font2: 'Andika New Basic',
serif;
$font3: 'Arima Madurai',
cursive;
$font4: 'Arsenal',
cursive;

//Operadores - inicio Sección 2
$ancho: 100%;
$alto: 500px;

$var1: 720px;
$var2: 200px;

//tamaño de títulos
$font-xs: 15px;
$font-small: 20px;
$font-med: 25px;
$font-large: 30px;
$font-xl: 45px;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $color3;
}

header {
    background-color: $color1;
    color: $color3;
    width: $ancho;
    height: 100px;
}

.containerLogo {
    width: 100px;
    height: 100px;
}

.logo {
    width: $ancho;
    border-radius: 8%;
}

/* prefixer para Chrome*/
::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: $color2;
}

::-webkit-scrollbar {
    width: 12px;
    background-color: $color3;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: $color5;
}

.navbar {
    background-color: $color2;

    a {
        color: $color6;
    }

    :active {
        color: $color3;
    }
}

.jumbotron {
    background-image: url(img/barrilcervezas.jpg);
    background-size: cover;
    background-position: center;
    height: 450px;
    width: $ancho;
    margin-bottom: 0;

    h1 {
        color: $color1;
        text-align: start;
        font-size: $font-xl;

        span {
            color: $color5;
        }
    }

    p {
        color: $color5;
        text-shadow: 0 0 2px $color6;
        font-size: $font-small;
        width: $ancho/2;
    }
}

/*Sección 1*/
.servicios1 {
    background-color: $color3;
    min-height: 550px;
    width: $ancho;
}

.feature {
    background-color: $color1;
    height: 270px;
    width: $ancho;
    border: 2px solid $color3;
    border-radius: 5%;
    padding: 5px 10px;

    h4 {
        text-align: center;
        color: $color5;
        font-size: $font-small;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    img {
        align-items: center;
        width: $ancho;
        height: 85%;
    }
}

/*Sección 2*/
.h2 {
    background-color: $color2;
    color: $color5;
    text-align: center;
    font-size: $font-med;
    padding: 10px;
}

.seccion2 {
    min-height: 200px;
    background-color: $color5;
    justify-content: center;

    h4 {
        color: $color1;
        padding-left: 20px;
    }

    p {
        color: $color6;
        text-align: center;
        font-size: $font-small;
        text-align: start;
        width: 70%;
        padding-left: 30px;
    }
}

.sleft {
    background-image: url(img/flamenco1.svg);
    background-size: cover;
    background-position: initial;
    width: $ancho/3;
    height: $alto;
    text-align: start;
}

.sright {
    background-image: url(img/flamenco1.svg);
    background-size: cover;
    background-position: initial;
    width: $ancho/3;
    height: $alto;
}

.sec {
    width: $ancho/3;
    height: $alto;
    justify-content: center;
}

.carousel-inner img {
    width: $ancho;
    height: $alto;
}

.carousel-indicators li {
    height: 10px;
    width: 10px;
    border-radius: 100%;
    border: 2px solid $color2;
}

.carousel-item p {
    color: $color5;
    text-align: center;
    width: $ancho;
}

/*Sección 3*/
@for $in from 1 through 4 {

    .bucle-#{$in} {
        background-color: $color2;
        height: 100%;
        width: $ancho;
        border: 2px solid #333;
        text-align: center;
        border: 2px solid $color3;
        border-radius: 5%;
        padding: 10px 20px;

        h4 {
            text-align: center;
            color: $color5;
            font-size: $font-small;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }

        $redes: (
            /*Declaramos nuestro mapa*/
            red1: #1CFF87,
            red2: #1309FA,
            red3: #E61B8B,
            red4: red,
            red5: #73A4FA,
            red6: brown,
            red7: black,
            red8: white,
            red9: white,
        );

        /*Creamos el bucle para usar los valores del mapa*/
        @each $red1,
        $color in $redes {
            .i--#{$red1} {
                color: $color;
                text-align: center;
                font-size: $font-med;
                padding-right: 12px;

                :hover {
                    color: $color1;
                }
            }
        }

        p {
            text-align: justify;
            color: $color5;
        }
    }
}

$base-color: $color2;

@for $in from 1 through 4 {
    .bucle-#{$in} {
        background-color: lighten($base-color, $in *5%);
    }
}


footer {
    background-color: $color2;
    width: $ancho;
    height: 110px;
    color: $color5;
    padding: 5px;

    p {
        font-size: $font-xs;
        padding: 0 20px 0 20px;
    }

    a {
        color: $color5;
        font-size: $font-med;
        letter-spacing: 20px;
        text-align: center;

        :hover {
            color: $color3;
        }
    }
}

.subir {
    height: 40px;
    width: 40px;
    background-color: $color3;
    border: 3px solid $color5;
    color: $color7;
    position: fixed;
    bottom: 20px;
    right: 20px;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    box-shadow: 4px 4px 15px $color6;
}


/*Nosotros*/
.h2_subtitulo {
    background-color: $color2;
    color: $color5;
    text-align: center;
    font-size: $font-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 2px solid $color5;
}

.nosotros {
    display: flex;
    background-attachment: fixed;
    height: 450px;
    width: 98%;
}

.borde {
    border: 2px solid $color4;
    padding: 10px;
    margin: 10px;
}

.nleft {
    width: $ancho/2;
    background-image: url(img/nosotros.jpg);
    background-size: cover;
    background-position: center;
    border: 5px solid $color5;
    padding: 10px;
    margin: 10px;
}

.nleft img {
    width: $ancho;
}

.nrigth {
    background-image: url(img/1.jpg);
    background-size: cover;
    background-position: center;
    width: $ancho/2;
    padding: 10px;

    h3 {
        text-align: center;
        font-size: $font-small;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    p {
        padding-bottom: 10px;
        font-size: $font-xs;
    }

    a {
        height: 5px;
        background-color: $color2;
        color: $color6;
        border-radius: 5px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-decoration: none;
        border: 3px solid $color3;
        width: 600;
        padding: 2px;
        margin-left: 50px;
    }

    a:hover {
        background-color: $color1;
    }
}

.galeria {
    background-color: $color3;
    min-height: 500px;
    width: 98%;
    gap: 3px;
}

.img {
    border: 1px solid #fff;
    height: 280px;
    color: mintcream;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    text-align: center;
    transition: all 0.75s;
}

.img:hover {
    transform: scale(1.05);
    transition: all 0.75s;
    filter: sepia(100%);
}

.img1 {
    background-color: $color1;
    background-image: url(img/fabrica.jpg);
    background-size: cover;
    background-position: center;
}

.img2 {
    background-color: $color2;
    background-image: url(img/2.jpg);
    background-size: cover;
    background-position: center;
}

.img3 {
    background-color: $color3;
    background-image: url(img/3.jpeg);
    background-size: cover;
    background-position: center;
}

.img4 {
    background-color: $color3;
    background-image: url(img/4.jpeg);
    background-size: cover;
    background-position: center;
}

.img5 {
    background-color: $color5;
    background-image: url(img/vaso.jpg);
    background-size: cover;
    background-position: center;
}

.img6 {
    background-color: $color6;
    background-image: url(img/guayamuri.jpg);
    background-size: cover;
    background-position: center;
}

.img7 {
    background-color: $color7;
    background-image: url(img/alcazares.jpg);
    background-size: cover;
    background-position: center;
}

.img8 {
    background-color: $color1;
    background-image: url(img/pescadores.jpg);
    background-size: cover;
    background-position: center;
}

/*Menu*/
.menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    height: 100%;
    justify-content: center;
    align-items: baseline;
    border: 2px solid $color4;
    padding: 10px;
    margin: 10px;
}

.titulosMenu {
    font-size: $font-xs;
    text-align: center;
    color: $color5;
}

.tabla_Container {
    flex-direction: row;
    background-color: $color2;
    align-items: center;
    width: 30%;
    height: 100%;
    font-size: 12px;
    box-shadow: 5px 5px 7px 0px #000;
}

.animacion1 {
    animation-name: animacion1;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-iteration-count: 1;
}

@keyframes animacion1 {

    0% {
        border-radius: 0%;
        background-color: $color1;
    }

    35% {
        border-radius: 5%;
        background-color: #ffbf00;
        transform: translateX(50px);
    }

    65% {
        border-radius: 5%;
        background-color: $color2;
        transform: translateX(50px);
        transform: translatey(20px);
    }

    100% {
        border-radius: 0%;
        background-color: $color1;
    }
}

.animacion2 {
    animation-name: animacion2;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-iteration-count: 1;
}

@keyframes animacion2 {

    0% {
        border-radius: 0%;
        background-color: $color1;
    }

    35% {
        border-radius: 5%;
        background-color: #ffbf00;
        transform: translateY(50px);
    }

    65% {
        border-radius: 5%;
        background-color: $color2;
        transform: translateX(50px);
        transform: translatey(20px);
    }

    100% {
        border-radius: 0%;
        background-color: $color1;
    }
}

.animacion3 {
    animation-name: animacion3;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-iteration-count: 1;
}

@keyframes animacion3 {

    0% {
        border-radius: 0%;
        background-color: $color1;
    }

    35% {
        border-radius: 5%;
        background-color: #ffbf00;
        transform: translateX(50px);
    }

    65% {
        border-radius: 5%;
        background-color: $color2;
        transform: translateX(50px);
        transform: translatey(20px);
    }

    100% {
        border-radius: 0%;
        background-color: $color1;
    }

}

.animacion4 {
    animation-name: animacion4;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-iteration-count: 1;
}

@keyframes animacion4 {

    0% {
        border-radius: 0%;
        background-color: $color1;
    }

    35% {
        border-radius: 5%;
        background-color: #ffbf00;
        transform: translateY(50px);
    }

    65% {
        border-radius: 5%;
        background-color: $color2;
        transform: translateX(50px);
        transform: translatey(20px);
    }

    100% {
        border-radius: 0%;
        background-color: $color1;
    }
}

.animacion5 {
    animation-name: animacion5;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-iteration-count: 1;
}

@keyframes animacion5 {

    0% {
        border-radius: 0%;
        background-color: $color1;
    }

    35% {
        border-radius: 5%;
        background-color: #ffbf00;
        transform: translateX(50px);
    }

    65% {
        border-radius: 5%;
        background-color: $color2;
        transform: translateX(50px);
        transform: translatey(20px);
    }

    100% {
        border-radius: 0%;
        background-color: $color1;
    }
}

.animacion6 {
    animation-name: animacion6;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-iteration-count: 1;
}

@keyframes animacion6 {

    0% {
        border-radius: 0%;
        background-color: $color1;
    }

    35% {
        border-radius: 5%;
        background-color: #ffbf00;
        transform: translateY(50px);
    }

    65% {
        border-radius: 5%;
        background-color: $color2;
        transform: translateX(50px);
        transform: translatey(20px);
    }

    100% {
        border-radius: 0%;
        background-color: $color1;
    }
}

/*Reservaciones*/
.reservaciones {
    background-image: url(img/flamenco1.svg);
    background-size: auto;
    background-position: center;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: left;
    border: 2px solid red;
    padding: 10px;
    margin: 10px;
}

.formContainer {
    background-color: goldenrod;
    width: 70%;
    box-shadow: 5px 5px 7px 0px #333;
    color: white;
    padding: 20px;
    align-items: center;
}

.formContainer__title {
    color: beige;
    font-size: 14px;
}

.form {
    text-align: center;
}

.form__label {
    color: beige;
    display: inline-block;
    width: 60%;
    text-align: left;
    font-weight: 600;
}

.form__input,
.form__texarea {
    background-color: white;
    width: 60%;
    margin: 8px;
    padding: 8px;
    color: #333;
    border: none;
    border-bottom: solid 1px #ffbf00;
    font-family: 'Domine', serif;
    font-size: 14px;
}

.form__texarea {
    color: #333;
    height: 80px;
    resize: none;
}

.form__input:focus,
.form__texarea:focus {
    color: #333;
    outline: none;
}

.form__input--submit {
    color: #333;
    background-color: white;
    margin-top: 24px;
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;
}

.form__input--submit:hover {
    background-color: darkgoldenrod;
}

/*Contacto*/

.secContacto {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: 2px solid red;
    padding: 10px;
    margin: 10px;
}

.divContacto {
    background-color: goldenrod;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    width: 100%;
    height: 100%;
    padding: 20px;
    margin-bottom: 15px;
}

.i {
    display: flex;
    flex-direction: row;
    text-align: center;
    font-size: 32px;
    animation-name: moto;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-duration: 5s;
    animation-delay: 2s;
}

@keyframes moto {

    0% {
        width: 100px;
        color: black;
    }

    20% {
        width: 120px;
        color: #ffbf00;
        padding-left: 20%;
    }

    40% {
        width: 140px;
        color: red;
        padding-left: 40%;
    }

    60% {
        width: 160px;
        color: black;
        padding-left: 60%;
    }

    80% {
        width: 180px;
        color: yellow;
        padding-left: 80%;
    }

    90% {
        width: 190px;
        color: red;
        padding-left: 90%;
    }

    100% {
        width: 200px;
        color: black;
        padding-left: 100%;
    }
}

#mapa {
    flex-shrink: initial;
    width: 100%;
    height: 100%;
}